html{
	background: #6EA660;
	font-family: "Glacial Indifference";
}

.title{
	font-size: 60px;
	font-family: "Glacial Indifference";
	letter-spacing: 20px;
	margin:5% 0 2% 0;
	text-align:center;
	color: white;
}
.player-board{
	margin: 2% auto;
	width: 650px;
	height: 550px;
	/*float:left;*/
}

.number{
	font-size:30px;
	text-align:center;
	margin-left:2%;
	padding:0;
	letter-spacing:48px;
	color:white;
}

.number-left{
	/*display:inline;*/
	/*float:left;*/
}

.row{
	background: #6EA660;
	color: #6EA660;	
	display: flex;
}


.grid{
	background: #333333;
	color:white;
	border: 2px solid silver;
	flex: 1;
	font-size:50px;
	text-align:center;
	width:50px;
	height:110px;
}

.rotate{
	transform:rotate(270deg);
}

.grid:hover{
	color: white;
	background:grey;
}

.control-board{
	margin: -25% 0 0 10%;
	height: 300px;
	width:350px;
	background:#333333;
	float:right;
}

.control-board > h1 {
	letter-spacing: 5px;
	text-align: center;
	color:white;
}

.button-horz{

}

.button{
	background:silver;
	width:100px;
	height:50px;
	text-align:center;
	padding:15px;
	line-height:20px;
	margin:20px auto;
	font-size:20px;
	color:blue;
	/*border: 1px solid yellow;*/
}

.button:hover{
	background:#6EA660;
	color:white;
}