html{
	background: #6EA660;
	/*background: #333333;*/
}

.title{
	font-size: 60px;
	font-family: "Glacial Indifference";
	letter-spacing: 20px;
	margin:5% 0 2% 0;
	text-align:center;
	color: white;
}
.player-board{
	/*background: #6EA660;*/
	/*background: #333333;*/
	margin: 2% auto;
	width: 650px;
	height: 550px;
}

.number{
	font-size:30px;
	text-align:center;
	margin-left:2%;
	/*margin:auto;*/
	padding:0;
	letter-spacing:48px;
	color:white;
	/*float:left;*/
}

.number-left{
	/*display:inline;*/
	/*float:left;*/
}

.row{
	background: #6EA660;
	color: #6EA660;	
	display: flex;
	/*flow-direction: row;*/
}


.grid{
	/*background: lemonchiffon;*/
	background: #333333;
	color:white;
	border: 2px solid silver;
	flex: 1;
	font-size:50px;
	text-align:center;
	width:50px;
	height:110px;
}


.grid:hover{
	color: white;
	background:grey;
}

