html{
	background: #6EA660;
	font-family: "Glacial Indifference";
}

body{
	margin: 0;
}

#wrapper{
	max-height: 100vh!important;
	height: 100vh!important;
	/*overflow: hidden;*/
	padding: 0!important;
}

.title{
	font-size: 50px;
	font-family: "Glacial Indifference";
	letter-spacing: 20px;
	margin: 2.5% 0 1.5% 0;
	text-align:center;
	color: white;
	transform: translate(20px, 0); 
}

#board{
	display: flex;
	flex-wrap: wrap;
	width:650px;
	/*margin-top: 50px;*/
	margin: 0px auto 0px auto;
	position: relative;
	max-height: 100vh;
	left: -1.5%;
}

.number{
	font-size:20px;
	text-align:center;
	padding:0;
	letter-spacing:48px;
	color:white;
	justify-content: space-around;
}

.number-top{
	display: flex;
	margin-left: 10%;
	width: 90%;
	margin-bottom: 15px;
}

.number-left{
	display: flex;
	flex-direction: column;
	width: 10%;
}


.player-board{
	width: 90%;
}

.row{
	background: #6EA660;
	color: #6EA660;	
	display: flex;
}

.grid{
	background: #333333;
	color:white;
	border: 2px solid silver;
	flex: 1;
	text-align:center;
	height: 100px;
	width: 100px;
}

.rotate{
	transform:rotate(90deg);
}

.grid:hover{
	color: white;
	background:grey;
	cursor: pointer;
}


#wrapper{
	text-align: center;
	padding:10px;
}

#control-board{
	display: flex;
	background:#333333;
	width: 100%;
	justify-content: space-around;
	border-radius: 4px;
	padding: 10px 0;
	margin-top: 25px;
	align-items: center;
	margin-left: 10%;
	width: 90%;
}

#control-board > h1 {
	letter-spacing: 5px;
	text-align: center;
	color:white;
	/*font-family:"Glacial Indifference";*/
	font-size: 25px;
	font-weight:100;
}

.button{
	background:silver;
	width:150px;
	height:50px;
	padding: 5px 10px;
	line-height: 1.75em;
	/*margin:20px auto;*/
	border-radius: 40px;
	border: 3px solid black;
	font-size: 25px;
	text-align: center;
	cursor: pointer;
}

.button:hover{
	background:#6EA660;
	color:white;
}


#main_name{
	background:#6EA660;
	text-align: center;
	padding:10px;
}

.player_name{
	font-size:50px;
	background-color: #6EA660;
	border:none;
	border-bottom: 1px solid white;
	outline:none;
	width:400px;
	color:white;
	font-family: "Glacial Indifference";
}

button{
	font-family: "Glacial Indifference";

}

#username{
	margin:15% 0 0 0;
	text-align: center
}

.player_name:focus{
	border-color:white;

}

label{
	color:white;
	font-size:45px;
}

.ship{
	width:100px;
	height:120px;
}

#submit{
	border-radius: 40px;
	border: 3px solid black;
	padding:0.6em 1.5em;
	margin:50px;
	font-size:30px;
	background:white;

}

#submit:hover{
	background:silver;
}


/* VICTORY PAGE */

.win{
	background-color: #6EA660; 
}

#winner-board{
	color:white;
	text-align: center;
	height: 100vh;
	margin-top:20%;
}

#winner-board > h1 {
	font-family: "Glacial Indifference";
	font-weight: 100;
}

#winner-board > h2 {
	font-weight: 50;
	font-size: 20px;
}

.player{
	color:#333333;
}
	
/* GAME BOARD */

#game{
	display:flex;
}

.title-board{
	text-align: center;
	font-size:30px;
	color:white;
	letter-spacing: 5px;
	margin: 40px 0px 20px 0px;
}


.game-board{
	width: 80%;
	background: yellow;
	margin:auto;
}

.ggrid {
	height:90px;
	width: 90px;
	background-color: #333333;
	border: 2px solid silver;
	flex:1;
}

.ggrid:hover{
	color:white;
	background:grey;
	cursor:pointer;
}

#player1, #player2{
	width:50%;
} 


#game{
	display:flex;
	flex-wrap: wrap;
}

/*.boards{
	display:flex;
	flex-wrap:wrap;
	width:50%;
	position: relative;
	left: -1.5%;
	margin:auto;
}*/

/*.number-left-g{
	display:flex;
	flex-direction: column;
	width:20%;
}*/
