*{
	box-sizing: border-box;
}

html{
	background: #6EA660;
	font-family: "Glacial Indifference";
}

body{
	margin: 0;
}


#board{
	display: flex;
	flex-wrap: wrap;
	width: 23em;
	margin: 0px auto 0px auto;
	position: relative;
	max-height: 100vh;
}

#wrapper{
	padding: 0!important;
}

.title{
	font-family: "Glacial Indifference";
	transform: translate(20px, 0); 
	margin: 2.5% 0 1.5% 0;
	letter-spacing: 20px;
	text-align:center;
	font-size: 2em;
	color: white;
}

.number{
	justify-content: space-around;
	letter-spacing:48px;
	text-align:center;
	font-size:20px;
	color:white;
	padding:0;
}

.number-top{
	margin-bottom: 15px;
	margin-left: 2em;
	display: flex;
	width: 21em;
}

.number-left{
	flex-direction: column;
	display: flex;
	width: 2em;
}

.number > span{
	width: 0.75em;
}

.row{
	background: #6EA660;
	color: #6EA660;	
	display: flex;
}

.grid{
	border: 1px solid #444;
	background: #333333;
	text-align:center;
	height: 4em;
	color:white;
	width: 4em;
}

.rotate{
	transform:rotate(90deg);
}

.grid:hover{
	color: white;
	background:grey;
	cursor: pointer;
}


#wrapper{
	text-align: center;
	padding:10px;
}


#main_name{
	background:#6EA660;
	text-align: center;
	padding:10px;
}

.player_name{
	font-size:50px;
	background-color: #6EA660;
	border:none;
	border-bottom: 1px solid white;
	outline:none;
	width:400px;
	color:white;
	font-family: "Glacial Indifference";
}

#username{
	margin:15% 0 0 0;
	text-align: center
}

.player_name:focus{
	border-color:white;

}

label{
	color:white;
	font-size:45px;
}

.ship{
	width:60px;
	height:66px;
}

/* VICTORY PAGE */

.win{
	background-color: #6EA660; 
	overflow: hidden;
}

#winner-board{
	color:white;
	text-align: center;
	height: 100vh;
	margin-top:15%;
}

#winner-board > h1 {
	font-family: "Glacial Indifference";
	font-weight: 100;
	max-height: 100vh;
}

#winner-board > h2 {
	font-weight: 50;
	font-size: 20px;
}

.player{
	color:#333333;
}
	
/* GAME BOARD */

#game{
	display:flex;
}

.title-board{
	text-align: center;
	font-size:30px;
	color:white;
	letter-spacing: 5px;
	margin: 40px 0px 20px 0px;
}

.number-top-g{
	margin-bottom: 15px;
	margin-left: 0.1em;
	display: flex;
	width: 16em;
}

.boards{
	display: flex;
	flex-wrap: wrap;
	width: 23em;
	margin: 0px auto 0px auto;
	position: relative;
	max-height: 100vh;
}


#player1, #player2{
	width:50%;
} 


#game{
	display:flex;
	flex-wrap: wrap;
}

#config{
	color:white;
	letter-spacing: 2px;
	font-size: 1.5em;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
}

.horizontal-flex{
	display: flex;
	flex-direction: row;
}

.vertical-flex{
	display: flex;
	flex-direction: column;
}

.controls{
	width: 80%;
	background-color: #333;
	border-radius: 4px;
	padding: 0.25em;
	margin: auto;
	margin-top: 0.5em;
}

.controls h1{
	font-weight: normal;
	font-size: 1em;
	width: 100%;
	text-align: left;
	color: white;
	margin-top: 0;
}

#ship-options, #control-board, .button-holder{
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(0,0,0,0.1);
	margin-right: 0.25em;
	border-radius: 4px;
	padding: 0.5em;
	justify-content: center;
}

#ship-options, #control-board{
	width: 40%;
}

.ship-panel{
	width: 90%;
}


#ship-options > div{
	border-radius: 4px;
	padding: 0.25em;
}

#ship-options > .first-option{
	width: 57.5%;
	margin-right: 2.5%;
}

#ship-options > .second-option{
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
}

#ship-options img{
	width: 100%;
	}

#ship-options .first-option{
	margin-left: 0;
}

#control-board > .button{
	padding: 0.25em 1em;
	background-color: #888;
	border-radius: 4px;
	margin-right: 1%;
	width: 48%;
	height: 1.75em;
}

.button-holder{
	width: 20%;
	align-items: center;
	margin-right: 0;
}

#submit{
	background-color: #48A931;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 4px;
	border: none;
	font-family: "Glacial Indifference";
	font-size: 1em;
	letter-spacing: 0.2em;
	padding: 0.25em 1em;
}

.caption{
	color: white;
}

.config-warning{
	font-size:15px;
	color:white;
	font-weight: 100;
	position: absolute;
	margin-top:-30px;
}


/* X */

.cross {
    position: relative;
    display: inline-block;
}
.cross::before, .cross::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}
.cross::before {
    border-bottom: 6px solid red;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
}
.cross::after {
    border-bottom: 5px solid red;
    -webkit-transform: skewY(10deg);
    transform: skewY(10deg);
}


/* Turns */

.turn{
	margin:auto;
	margin-top:5%;
	text-align: center;
}

.turn h2{
	color:white;
	font-size:2em;
	font-weight: 100;
	text-transform: uppercase;
}


.limit{
	pointer-events: none;
	background-color: #ccc;
	opacity: 0.7;
}


.miss{
	color:#B0504C;
	/*display: block;*/
	width: auto;
	text-align:center;
	/*margin: auto;*/
	font-weight: 100;
}

.hit{
	width:50px;
	height:50px;
}